.notallowed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; 
  text-align: center;
  color: #333;
}

.notallowed-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: black; 
}

.notallowed-text {
  font-size: 1.5rem;
  color: #666;
}