footer {
  border-top: 0.5px solid var(--gray-1);
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  margin: 0 20rem;
  border-bottom: 1px solid var(--gray-1);
}

.footer-options {
  display: flex;
  align-items: flex-start;
  gap: 4em;
}

.tienda-sol-contact {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  max-width: 20rem;
}

.tienda-sol-contact p {
  font-weight: lighter;
}

.tienda-sol-contact span {
  font-size: 1.2rem;
  font-weight: bold;
}

.social-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-3);
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.button-social:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transform: translateY(-2.5px);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  min-width: 12rem;
}

.footer-list li {
  list-style: none;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  font-weight: lighter;
}

.footer-list li:hover {
  color: black;
  font-weight: normal;
}

.footer-list p {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--gray-2);
}

.footer-copyright p span {
  font-size: 1.4rem;
  margin: 0.4rem;
}
