.title {
    font-weight: 600;
}

.subtitle {
    color: #666;
    margin: 0; 
}

.btns-container {
    justify-content: end;
    margin: 10px 0;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}