header {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.5px solid var(--gray-1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
  background: white;
  padding: 10px 0;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brand-logo p {
  font-size: 1.2rem;
  font-weight: bold;
}

.brand-logo:hover {
  cursor: pointer;
  color: var(--gray-2);
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.search-bar input {
  padding: 0.7rem 1rem;
  width: 23rem;
  border: 1px solid black;
  border-radius: 6px;
  margin: 1rem;
  font-weight: lighter;
}

.header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
