.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.register-container .register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
	text-align: center;
}

.register-container .register-header h1 {
  margin: 10px 0 5px 0;
}

.register-container .register-header p {
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #555;
}

.register-container .register-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 480px;
  text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.register-container .register-card h2 {
  margin: 0 0 8px 0;
}

.register-container .register-card p {
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #555;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
	margin-bottom: 40px;
}

.register-container label {
  display: block;
  text-align: left;
  margin-bottom: 0;
  font-size: 15px;
  color: black;
	font-weight: 600;
}

.register-container input,
.register-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
	margin-bottom: 10px;
}

.register-container .btn-register {
  background-color: rgba(12, 101, 216, 0.959);
  color: white;
  font-weight: 700;
	margin-top: 20px;
  font-size: medium;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background-color 0.5s ease;
}

.register-container .btn-register:hover {
	background-color: rgba(12, 100, 216, 0.553);
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

.register-container .btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgba(12, 100, 216, 0.615);
  text-decoration: none;
	margin-top: 40px;
  margin-bottom: 20px;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}