.product-list {
  display: grid;
  /* justify-content: center;
  align-items: center; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  list-style: none;
  padding: 0 20px;
  margin: 0 auto;
  gap: 20px;
}

@media (max-width: 800px) {
  .product-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 15px;
    padding: 0 5px;
  }
}

.noProducts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  color: #555;
}