.notification-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 30px;
  margin: 0 140px;
}

.notification-container .notification-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.notification-container .notification-left {
  display: flex;
  flex-direction: column;
}

.notification-container h1 {
  margin-bottom: 0;
}

.notification-container p {
  color: #333;
}

.notification-container .notification-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 12px;
  background-color: whitesmoke;
}

.notification-container h2 {
  font-size: 15px;
  font-weight: 600;
}