.enviar-dialog .title {
    font-weight: 600;
}

.enviar-dialog .subtitle {
    color: #666;
    margin: 0; 
}

.enviar-dialog .btns-container {
    justify-content: end;
    margin: 10px 0;
}

.enviar-dialog .btn-ver {
  border: 1px solid #bdbdbd !important;
  color: #333 !important;
  background: #fff !important;
  text-transform: none !important;
}

.enviar-dialog .btn-ver:hover {
  background: #f5f5f5 !important;
}

.enviar-dialog .btn-enviar {
  background-color: rgba(0, 120, 20, 0.632) !important;
  color: #fff !important;
  text-transform: none !important;
}

.enviar-dialog .btn-enviar:hover {
  background-color: rgba(0, 120, 20, 0.91) !important;
}